---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import '../bourbon/bourbon';
@import '../neat/neat';

// Our variables
$base-font-family: "omnes-pro", Arial, sans-serif;
$base-font-size: 16px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #959A91;
$background-color: #fdfdfd;
$brand-color: #4B689A;
$brand-accent: #DCC558;

$grey-color: #959A91;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);
$white: #ffffff;

// Theme Colours
$cream: #F1E9D4;
$blue: #4B689A;
$yellow: #DCC558;
$grey: #959A91;
$dark-blue: #405065;
$red: #DD3F2A;

$on-palm: 600px;
$on-laptop: 800px;

$light: 300;
$normal: 400;
$heavy: 700;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "syntax-highlighting"
;
