body {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "brandon-grotesque";
}
p, div {
    font-family: "brandon-grotesque";
    font-size: 16px;
}

h1 {
  font-weight: 700;
}

.content-width {
  width: 65%;
}

.top-buffer {
  margin-top: 20px;
}

.content-buffer {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .mini-margin {
    margin-bottom: 20px;
  }

  .top-buffer {
    margin-top: 0;
  }
}

.header {
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #ffcb78;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.navbar-default {
  background-image: none;
  box-shadow: none;
  background-color: #ffcb78;
  border: none;
  font-size: 16px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-fixed-top {
  border-width: 0 0 2px;
}

.btn-primary {
  background-color: #86d145;
  border-color: #86d145;
  font-weight: 300;
  border-radius: 3px;
}

.btn-primary:hover {
  background-color: #6ab22a;
  border-color: #6ab22a;
}

.btn-primary:focus {
  background-color: #86d145;
  border-color: #6ab22a;
}

.green-bg {
  background-color: #86d145;
}

.avatar {
  margin-bottom: 20px;
}