body {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "brandon-grotesque";
}
p, div {
    font-family: "brandon-grotesque";
    font-size: 16px;
}

h1 {
  font-weight: 700;
}

a, a:hover, a:visited {
  text-decoration: none !important;
  color: #000000;
}

.top-buffer {
  margin-top: 20px;
}

.icon-buffer {
  margin-top: 40px;
}

.content-buffer {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .mini-margin {
    margin-bottom: 20px;
  }
  .mobile-buffer {
    margin-top: 140px;
    margin-bottom: 140px;
  }
}

.header {
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #ffcb78;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.navbar-default {
  background-image: none;
  box-shadow: none;
  background-color: #ffcb78;
  border: none;
  font-size: 16px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-fixed-top {
  border-width: 0 0 2px;
}

.btn-primary {
  background-color: #86d145;
  border-color: #86d145;
  font-weight: 300;
  border-radius: 3px;
}

.btn-primary:hover {
  background-color: #6ab22a;
  border-color: #6ab22a;
}

.btn-primary:focus {
  background-color: #86d145;
  border-color: #6ab22a;
}

.green-bg {
  background-color: #a6e26a;
}

.avatar {
  margin-bottom: 20px;
}

.magic-circle {
  height: 10em;
  width: 10em;
  background-color: #ffffff;
  border-radius: 100%;
}

.padding-fix {
  padding-left: 0;
  padding-right: 0;
}

.image-border {
  border: 1px solid #e8e8e8;
}
