.top-buffer {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .mini-margin {
    margin-bottom: 20px;
  }
  .top-buffer {
    margin-top: 0;
  }
}

body {
  padding-top: 70px;
}

.header {
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
  background: url('/images/onmybike.jpg');
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}