<footer class="site-footer">

  <div class="headfoot-wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>
            <i class="icon fa fa-envelope"></i>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
          {% if site.github_username %}
          <li>
            <i class="icon fa fa-github"></i>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li>
            <i class="icon fa fa-twitter"></i>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="footer-col  footer-col-2">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
