//Refills tabs

.accordion-tabs-minimal {
  $tab-border-color: $grey;
  $tab-border: 1px solid $tab-border-color;
  $tab-content-background: $background-color;
  $tab-active-background: $tab-content-background;
  $tab-inactive-color: $background-color;
  $tab-inactive-hover-color: darken($grey, 5);
  $tab-mode: $on-laptop;

  @include clearfix;
  margin-bottom: 1.5em;

  li.tab-header-and-content {
    @include media($tab-mode) {
      display: inline;
    }
  }

  a.tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $dark-blue;
    display: block;
    font-weight: 400;
    padding: 1.5em/2 1.618em;

    @include media($tab-mode) {
      @include inline-block;
      border-top: 0;
    }

    &:hover {
      color: $blue;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      border-bottom: 0;

      @include media($tab-mode) {
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    display: none;
    padding: 1.5em 1.618em;

    @include media($tab-mode) {
      border-top: $tab-border;
      float: left;
    }
  }
}